ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.feature-title {
  text-align: center;
  font-size: 1.3em;
}

.feature-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.feature-list li {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 5px 5px 20px 5px;
  text-align: center;
}

.feature-list img {
  width: 140px;
  height: 210px;
  border-radius: 3px;
}

.list-hover-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 140px;
  height: 210px;
  color: #fff;
  background-color: rgba(232, 84, 148, 0.85);
  opacity: 0;
  transition: 0.2s ease;
  border-radius: 3px;
}

.list-hover-container:hover {
  opacity: 1;
  cursor: pointer;
}

.list-hover-container p {
  width: 140px;
  font-size: 0.9em;
  padding: 5px;
}

.list-hover-container p:first-child {
  font-weight: 600;
  padding: 10px 5px;
}

.star {
  position: relative;
  top: -2px;
  color: #FDD017;
  font-size: 0.9em;
  margin-right: 3px;
}