input {
  width: 550px;
  height: 60px;
  margin: 50px auto;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1.5em;
  padding: 15px;
  font-weight: 200;
}

::-webkit-input-placeholder {
  color: #333;
}
::-moz-placeholder {
  color: #333;
}
:-ms-input-placeholder {
  color: #333;
}
:-moz-placeholder {
  color: #333;
}

.nav-form {
  width: 250px;
  height: 35px;
  margin: 0;
  font-size: 1em;
  border: none;
}

.results-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: absolute;
  width: 550px;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: -45px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background: #fff;
  z-index: 2;
}

.nav-results {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: absolute;
  width: 250px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background: #fff;
  z-index: 2;
  margin-top: 5px;
  font-size: 0.8em;
}

.nav-results .results-item img {
  width: 60px;
  height: 80px;
  background-size: contain;
  margin: 0;
}

.nav-results .text-info {
  margin-left: 10px;
}

.results-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.results-item:hover {
  cursor: pointer;
  background: #e85494;
  color: #fff;
}

.results-item img {
  width: 80px;
  height: 100px;
  margin-right: 10px;
}

.results-item p {
  font-size: 1.2em;
  text-align: left;
}

.results-item p:last-child {
  font-size: 0.8em;
}

.results-container div:last-child {
  border-bottom: none;
}