.feature-title {
  text-align: center;
  font-size: 1.3em;
}

.view-all {
  background: transparent;
  border: none;
  font-size: 0.8em;
  margin-bottom: 5px;
  color: #e85494;
}

.view-all:hover {
  cursor: pointer;
  color: #e85494;
}